{% extends 'common.html' %}
{% load static %}
{% block content %}

<head>
	<title>{% block title %}Send Inquiry{% endblock %}</title>

   <style>
      .error{
         color:red;
      }
   </style>

</head>


<main class="main-rows">
<div class="uc-row-wrapper">
   <div class="uc-row first" data-id="43" style="   margin-bottom:16.826411075612vh;  ">
      <div id="r43" class="row-container  container ">
         <div class="row mainRow " style="">
            <div class="column col-sm-12 " dataColumn-id="67" style="  padding:22.471910112359552vh 0vh;">
               <div class="column-container vertical-top" style="" aria-label="column" role="contentinfo">
                  <div class="module-container   only-mobile   align-center ModuleTitle first   last" aria-label="module container" role="contentinfo" id="m102" >
                     <div class="   module ModuleTitle " dataModule-id="102" >
                        <div class="uc-content">
                           <h1 style="color:rgb(255, 255, 255);filter:drop-shadow(0 0 0.95rem #000000);">Inquiry</h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="bg-image">
         <div class="bg-image-view  lazy" style="object-fit:contain"
            data-bg="{% static 'img/tablet-1075790_1920.jpg' %}"
            style="
            opacity: 0.95;
            background-position: 49.593% 100%;
            "
            aria-label="background image"
            role="img"
            >
         </div>
      </div>
   </div>
</div>
<div class="uc-row-wrapper">
   <div
      class="uc-row
      " data-id="44"
      style="   margin-bottom:6.3897763578275vh;  "
      >
      <div id="r44" class="row-container  container ">
         <div class="row mainRow "
            style="">
            <div
               class="column col-sm-12 "
               dataColumn-id="68"
               style="     "
               >
               <div class="column-container vertical-top"
                  style="" aria-label="column" role="contentinfo">
                  <div
                     class="module-container   only-mobile   align-center ModuleParagraph
                     first   last                             "
                     style=" padding: 0px 40px 0px 40px  "
                     aria-label="module container" role="contentinfo"
                     id="m103"
                     >
                     <div
                        class="   module ModuleParagraph  uc-animation  fadeIn "
                        dataModule-id="103"
                        data-effect="fadeIn"                                  style="display:block;max-width:860px;"
                        >
                        <div class="uc-content">
                           <h4 style="color:rgb(0, 0, 0);">We are available 24/7</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="uc-row-wrapper">
   <div
      class="uc-row
      " data-id="45"
      style="   margin-bottom:8.9887640449438vh;  "
      >
      <div id="r45" class="row-container  container ">
         <div class="row mainRow "
            style="">
            <div
               class="column col-sm-12 "
               dataColumn-id="69"
               style="     "
               >
               <div class="column-container vertical-top"
                  style="" aria-label="column" role="contentinfo">
                  <div
                     class="module-container   only-mobile   align-center ModuleParagraph
                     first                              "
                     style=" padding: 0px 40px 0px 40px  ; padding-bottom:3.3707865168539vh ; "
                     aria-label="module container" role="contentinfo"
                     id="m104"
                     >
                     <div
                        class="   module ModuleParagraph "
                        dataModule-id="104"
                        style="display:block;max-width:440px;"
                        >
                        <div class="uc-content" id="call_us">
                           <h5 style="color:rgb(229, 159, 78);"><a href="tel:+91-899-144-4555" target="_self"><span style="color:rgb(229, 159, 78);" >Call Us</span></a></h5>
                        </div>
                     </div>
                  </div>
                  <div
                     class="module-container   only-mobile   align-center ModuleParagraph
                     last                             "
                     style=" padding: 0px 40px 0px 40px  "
                     aria-label="module container" role="contentinfo"
                     id="m105"
                     >
                     <div
                        class="   module ModuleParagraph "
                        dataModule-id="105"
                        style="display:block;max-width:440px;"
                        >
                        <div class="uc-content">
                           <h5 style="color:rgb(229, 159, 78);"><a href="mailto:hawk4club@gmail.com" target="_self"><span style="color:rgb(229, 159, 78);">hawk4club@gmail.com</span></a></h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="uc-row-wrapper">
   <div
      class="uc-row     last
      " data-id="46"
      style="   margin-bottom:14.909478168264vh;  "
      >
      <div id="r46" class="row-container  container ">
         <div class="row mainRow "
            style="">
            <div
               class="column col-sm-12 "
               dataColumn-id="70"
               style="     "
               >
               <div class="column-container vertical-top"
                  style="" aria-label="column" role="contentinfo">
                  <div
                     class="module-container   only-mobile   align-center ModuleForm
                     first   last                             "
                     style=" padding: 0px 40px 0px 40px  "
                     aria-label="module container" role="contentinfo"
                     id="m106"
                     >
                     <div
                        class="   module ModuleForm "
                        dataModule-id="106"
                        style="display:block;max-width:560px;"
                        >
                        <style>
                           #form-module-106 .form-submit {
                           text-align: right;
                           }
                        </style>
                        <form method="post" action="{% url 'Inquiry:inquiry' %}" name="inquiry" onsubmit="return validation();">
                           {% csrf_token %}
                           <div class="form-group">
                              <div class="form-element">
                                 {% if request.user.is_authenticated %}
                                    <input type="text" value="{{request.user.first_name}} {{request.user.last_name}}" name="name" placeholder="Full Name" readonly>
                                 <span class="error" id="name_error"></span>
                                 {% else %}
                                    <input type="text" name="name" placeholder="Full Name" >
                                    <span class="error" id="name_error"></span>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-element">
                                 {% if request.user.is_authenticated %}
                                    <input type="email" value="{{request.user.email}}" name="email" placeholder="Email" readonly>
                                 <span class="error" id="email_error"></span>
                                 {% else %}
                                    <input type="email" name="email" placeholder="Email" >
                                    <span class="error" id="email_error"></span>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-element">
                                 {% if request.user.is_authenticated %}
                                    <input type="number" value="{{request.session.member_phone}}" name="phone" placeholder="Phone"  readonly>
                                 <span class="error" id="number_error"></span>
                                 {% else %}
                                    <input type="number" name="phone" placeholder="Phone"  >
                                    <span class="error" id="number_error"></span>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-element">
                                 <input type="text" name="subject" placeholder="Subject" >
                                    <span class="error" id="subject_error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-element">
                                 <textarea name="message" placeholder="Write a message" ></textarea>
                                 <span class="error" id="message_error"></span>
                              </div>
                           </div>
                           <div class="last-cart l-mrgn" style="width:130px;height:20px;margin-top:15px">
                              <input type="submit" value="Send Inquiry" style="height:40px" class="myBtn">
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


   <script type="text/javascript">

      function validation(){
         document.getElementById("name_error").innerHTML = "";
         document.getElementById("email_error").innerHTML = "";
         document.getElementById("number_error").innerHTML = "";
         document.getElementById("subject_error").innerHTML = "";
         document.getElementById("message_error").innerHTML = "";


         var error = 0;
         var name = (/^[A-Za-z ]+$/);
         var email = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
         var phone = /^([6-9]{1})+([0-9]{9})$/;

         if(inquiry.name.value == ""){
            error += 1;
            document.getElementById("name_error").innerHTML = "Enter name";
         }
         else{
            if (name.test(inquiry.name.value) == false){
               error += 1;
               document.getElementById("name_error").innerHTML = "Enter valid Name";
            }
         }

         if(inquiry.email.value == ""){
            error += 1;
            document.getElementById("email_error").innerHTML = "Enter email address";
         }
         else{
            if (email.test(inquiry.email.value) == false ){
               error += 1;
               document.getElementById("email_error").innerHTML = "Enter valid email address";
            }
         }

         if(inquiry.phone.value == ""){
            error += 1;
            document.getElementById("number_error").innerHTML = "Enter phone number";
         }
         else{
            if (phone.test(inquiry.phone.value) == false){
               error += 1;
               document.getElementById("number_error").innerHTML = "Enter valid phone number";
            }
         }

         if(inquiry.subject.value == ""){
            error += 1;
            document.getElementById("subject_error").innerHTML = "Enter subject";
         }

         if(inquiry.message.value == ""){
            error += 1;
            document.getElementById("message_error").innerHTML = "Enter an inquiry";
         }

        if (error == 0){
            return true;
        }
        else{
            swal('',"Correct the error(s) and try again!","error");
            return false;
        }
   }

   </script>

{% endblock %}