{% extends 'custom_admin/common.html' %}
{% load static %}

<head>
    <title>{% block title %}Admin Change Password {% endblock %}</title>
</head>

{% block content %}

<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Change Password</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->

                    <div class="page-content">

					<div class="user-profile-page">
						<div class="card radius-15 col-lg-6">
							<div class="card-body">
								<div class="row">
									<div class="col-12 col-lg-12 col-md-12">
                                        <form id="change_password_form" action="{% url 'Custom_Admin:admin_change_password' %}" method="post" name="change_password" onsubmit="return validation()" password-validate-url="{% url 'Custom_Admin:validate_password' %}" >
                                            {% csrf_token %}
                                            <div style="margin-top:10px">
                                                <input id="old_password" class="form-control" type="password" name="old_password" placeholder="Old Password"  >
                                                <span id="old_password_error" style="color:rgba(255,60,60)"></span>
                                            </div>
                                            <div style="margin-top:10px">
                                                <input id="new_password" class="form-control" type="password" name="new_password" placeholder="New Password"  >
                                                <span id="password1_error" style="color:rgba(255,60,60)"></span>
                                            </div>
                                            <div style="margin-top:10px">
                                                <input id="new_password2" class="form-control" type="password" name="new_password2" placeholder="Confirm New Password"  >
                                                <span id="password2_error" style="color:rgba(255,60,60)"></span>
                                                <br>
                                                <span id="pass" style="color:rgba(255,60,60)"></span>
                                            </div>
                                            <div style="margin-top:10px">
                                                <a href="javascript:history.go(-1)"><button type="button" class="btn btn-light m-1">Back</button></a>
                                                <input class="btn btn-light m-1" type="submit" value="Change Password">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <script>
        function validation(){

            document.getElementById("old_password_error").innerHTML = "";
            document.getElementById("password1_error").innerHTML = "";
            document.getElementById("password2_error").innerHTML = "";

            var error = 0;
            var old_password = change_password.old_password.value;
            var password1 = change_password.new_password.value;
            var password2 = change_password.new_password2.value;

            var password_structure  = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

            if (old_password == ""){
                error += 1;
                document.getElementById("old_password_error").innerHTML = "Please enter your old password";
            }
            else{
                if (password_structure.test(old_password) == false){
                    error += 1;
                    document.getElementById("old_password_error").innerHTML = "Please enter valid password";
                }
            }

            if(password1 == ""){
                error += 1;
                document.getElementById("password1_error").innerHTML = "Please enter new password";
            }
            else{
                if(password1.length < 8){
                    error += 1;
                    document.getElementById("password1_error").innerHTML = "Password must contain minimum 8 character";
                }
                else{
                    if(password_structure.test(password1) == false){
                        error += 1;
                        document.getElementById("password1_error").innerHTML = "Password must contain one special character, one digit and one letter";
                    }
                }
            }

            if(password2 == ""){
                error += 1;
                document.getElementById("password2_error").innerHTML = "Please enter new password again";
            }
            else{
                if(password2.length < 8){
                    error += 1;
                    document.getElementById("password2_error").innerHTML = "Password must contain minimum 8 character";
                }
                else{
                    if(password_structure.test(password2) == false){
                        error += 1;
                        document.getElementById("password2_error").innerHTML = "Password must contain one special character, one digit and one letter";
                    }
                }
            }

            if(password1 != password2){
                error += 1;
                document.getElementById("pass").innerHTML = "Both new password must be same!";
            }

            if(error > 0){
                swal("","Correct the error(s) and try again","error");
                return false;
            }
            else{
                return true;
            }

        }


$(document).ready(function(){
    $("#change_password_form").submit(function(e){
                e.preventDefault();
                var form = $(this).closest("form");
                var old_password = document.getElementById("old_password").value;

                if(old_password != ""){
                    $.ajax({
                        type : "POST",
                        url : form.attr("password-validate-url"),
                        data : form.serialize(),
                        dataType : "json",
                        success : function(data){
                            if(data.is_matches == 'True'){
                                $("#change_password_form").unbind().submit();
                            }
                            else{
                                swal("","Please enter correct password","error");
                                document.getElementById("old_password").value = "";
                                document.getElementById("new_password").value = "";
                                document.getElementById("new_password2").value = "";
                            }
                        }
                    });
                }
            });
});


    </script>

{% endblock %}
