{% extends 'custom_admin/common.html' %}
{% load static %}

<head>
    <title>{% block title %}All Payments{% endblock %}</title>
</head>

{% block content %}

<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Payments</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card radius-15">
                                        <div class="card-body col-md-12">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <h4 class="mb-0 font-weight-bold text-white">{{no_of_payments}}</h4>
                                                    <p class="mb-0 text-white">Total Payments</p>
                                                </div>
                                                <div class="font-35 text-white"><i class="bx bx-arrow-to-top"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-6 col-lg-6">
									<div class="card radius-15">
                                        <div class="card-body col-md-12 col-lg-12">
												<form method="post" action="{% url 'Custom_Admin:generate_payment_report' %}" onsubmit="return validation()">
													{% csrf_token %}
													<div class="row">
														<div class="col-lg-6 col-md-6">
															<div class="media align-items-center">
																<div class="media-body center">
																		<input id="from" type="number" name="from" placeholder="from" class="form-control" style="width:100px;margin:15px 8px" value="0">
																		<input id="to" type="number" name="to" placeholder="to" class="form-control" style="width:100px;margin:15px 8px" value="0">
																</div>
															</div>
														</div>
														<div class="col-md-6 col-lg-6 center">
															<a onclick="" class="btn btn-light m-1"><i class="fa fa-download"></i>&nbsp;<input type="submit" class="btn btn-light m-1" value="Report" ></a>
														</div>
													</div>
												</form>
										</div>
									</div>
								</div>
                            </div>


							<div class="table-responsive">
							<div class="table-responsive">
								<table id="example" class="table table-striped table-bordered" style="width:100%">
									<thead>
										<tr>
											<th>No.</th>
											<th>Invoice</th>
											<th>Member</th>
											<th>Payment For</th>
											<th>Amount</th>
											<th>Date</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
                                    {% for p in payments %}
									  	<tr>
											<td>{{forloop.counter}}</td>
											<td>{{p.invoice_id}}</td>
											<td>{{p.member.member.first_name}} {{p.member.member.last_name}}</td>
											<td>
												{% if p.payment_for == "P" %}
													Membership Plan
												{% elif p.payment_for == "B" %}
													Amenities Booking
												{% elif p.payment_for == "E" %}
													Event Tickets
												{% endif %}
											</td>
											<td>&#8377 {{p.amount}}</td>
											<td>{{p.date}}</td>
											<td style="width:10%">
												<a href="{% url 'Custom_Admin:view_invoice' p.id %}" title="Reply"><button type="button" class="btn btn-light m-1"><i class="fa fa-download"></i></button></a>
											</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->

<script>
	function validation(){
		var from = document.getElementById("from").value;
		var to = document.getElementById("to").value;

		if(from<0 || to<0){
			swal("","Report can't be generated from your entered range","error");
			return false;
		}

		if(from>0 && to>0){
			if(from==to){
				swal("","Report can't be generated from your entered range","error");
				return false;
			}
			else{
				return true;
			}
		}
		else{
			return true;
		}
	}
</script>

{% endblock %}


