{% extends 'common.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}

<head>
	<title>{% block title %}My Tickets{% endblock %}</title>
    <style>
    header{
        background-color:#000000;
    }


    tr,th,td{
        text-align:center;
    }


    </style>


</head>

<div style="margin-top:150px;margin-bottom:20px" class="center">

</div>

<main class="main-rows center" style="margin-top:20px;margin-bottom:100px" >
	<div class="container col-md-8">
        <div class="center" style="margin:20px 0px">
            <h5 style="color:grey">My Tickets</h5>
        </div>
        {% if no_of_tickets > 0 %}
        <div class="table-responsive">
            <div style="margin:5px 0px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px;">
                <table class="table">
                <thead>
                        <tr>
                            <th style="width:10%">No.</th>
                            <th style="width:25%">Event</th>
                            <th style="width:25%">Brought On</th>
                            <th style="width:10%">Quantity</th>
                            <th style="text-align:right;width:15%">Amount(&#8377;)</th>
                            <th style="width:15%">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
            {% for t in tickets %}

                <div style="margin:5px 0px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px;">
                    <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td style="text-align:center;width:10%">{{ forloop.counter }}</td>
                            <td style="width:25%">{{t.ticket.event.name}}</td>
                            <td style="width:25%">{{t.date}}</td>
                            <td style="width:10%">{{t.ticket.quantity}}</td>
                            <td style="width:15%;text-align:right">&#8377; {{t.amount}}</td>
                            <td class="a" style="width:15%;text-align:center"><a href="{% url 'Member:view_ticket' t.id %}" style="text-decoration:underline;margin:10px 0px;color:green">View</a></td>
                        </tr>
                    </tbody>
                        </table>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="center" style="margin:25px 0px">
                <h4>You havn't purchased any tickets yet !</h4>
            </div>
            <div class="center">
                <a href="{% url 'Events:view_events' %}" class="myBtn">Buy Now</a>
            </div>
        {% endif %}
	</div>
</main>

{% endblock %}