{% extends 'common.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}

<head>
	<title>{% block title %}Payment : {% if payment.payment_for == 'P' %}Membership Plan{% elif payment.payment_for == 'B' %}Amenity Booking{% elif payment.payment_for == 'E' %}Event Ticket{% endif %}{% endblock %}</title>
    <style>
    header{
        background-color:#000000;
    }


    tr,th,td{
        text-align:center;
    }

    p{
        padding:10px;
    }

    </style>


</head>

<div style="margin-top:150px;margin-bottom:20px" class="center">

</div>

<main class="main-rows center" style="margin-top:60px;margin-bottom:100px" >
	<div class="container col-md-8">
        <div style="border-radius:5px;margin:5px 0px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 16px 32px;">
            <div style="margin:0px 40px">
                <div class="center">
                    <h5 style="margin:20px 0px">{% if payment.payment_for == 'P' %}Membership Plan Payment{% elif payment.payment_for == 'B' %}Amenity Booking Payment{% elif payment.payment_for == 'E' %}Event Ticket Payment{% endif %}</h5>
                </div>

                <div class="row">
                    <div class="center col-md-6">
                        <p>Name : {% if payment.payment_for == 'P' %}{{payment.membership.mem_plan.name}}{% elif payment.payment_for == 'B' %}{{payment.booking.amenity.name}}{% elif payment.payment_for == 'E' %}{{payment.ticket.event.name}}{% endif %}<hr></p>
                        <p></p>
                    </div>

                    <div class="center col-md-6">
                        <p>Invoice Id : {{payment.invoice_id}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="center col-md-6">
                        <p>{% if payment.payment_for == "P" %}Quantity : 1{% elif  payment.payment_for == 'B' %}No. of Slots : {{payment.booking.no_of_slots}}{% elif payment.payment_for == 'E' %}Quantity : {{payment.ticket.quantity}}{% endif %}<hr></p>
                    </div>

                    <div class="center col-md-6">
                        <p>Amount :&nbsp;&#8377;&nbsp;{{payment.amount}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="center col-md-6">
                        <p>Status : {% if payment.status == True %}<p style="color:#32CD32">Paid</p>{% else %}<p style="color:orange">Pending</>{% endif %}<hr></p>
                        <p></p>
                    </div>

                    <div class="center col-md-6">
                        <p>Paid On : {{payment.date}}</p>
                    </div>
                </div>

                <div class="center">
                    <a href="{% url 'Custom_Admin:view_invoice' payment.id %}" style="margin-bottom:15px;margin-top:5px" class="myBtn"><i class="fa fa-download"></i>&nbsp;&nbsp;Invoice</a>
                </div>

            </div>
        </div>

    <div class="center" style="margin-top:80px">
        <a href="javascript:history.go(-1)" style="margin-bottom:15px'margin-top:5px" class="myBtn"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
    </div>

	</div>
</main>

{% endblock %}