{% extends 'common.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}

<head>
	<title>{% block title %}Change Password{% endblock %}</title>
    <style>
    header{
        background-color:#000000;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function validation(){

            document.getElementById("old_password_error").innerHTML = "";
            document.getElementById("new_password1_error").innerHTML = "";
            document.getElementById("new_password2_error").innerHTML = "";
            document.getElementById("pass").innerHTML = "";

            var error = 0;
            var password1 = change_password.new_password.value;
            var password2 = change_password.new_password2.value;
            var old_password = change_password.old_password.value;

            var password_structure  = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;


            if(old_password == ""){
                error += 1;
                document.getElementById("old_password_error").innerHTML = "Please enter old password";
            }
            else{
                if(old_password.length < 8){
                    error += 1;
                    document.getElementById("old_password_error").innerHTML = "Password must contain minimum 8 characters";
                }
                else{
                    if(password_structure.test(old_password) == false){
                        error += 1;
                        document.getElementById("old_password_error").innerHTML = "Password must contain one special character, digit and letter";
                    }
                }
            }

            if(password1 == ""){
                error += 1;
                document.getElementById("new_password1_error").innerHTML = "Please enter new password";
            }
            else{
                if(password1.length < 8){
                    error += 1;
                    document.getElementById("new_password1_error").innerHTML = "Password must contain minimum 8 characters";
                }
                else{
                    if(password_structure.test(password1) == false){
                     error += 1;
                     document.getElementById("new_password1_error").innerHTML = "Password must contain one special character, digit and letter";
                    }
            }   }

            if(password2 == ""){
                error += 1;
                document.getElementById("new_password2_error").innerHTML = "Please enter confirm password";
            }
            else{
                if(password2.length < 8){
                    error += 1;
                    document.getElementById("new_password2_error").innerHTML = "Password must contain minimum 8 characters";
                }
                else{
                    if(password_structure.test(password2) == false){
                        error += 1;
                        document.getElementById("new_password2_error").innerHTML = "Password must contain one special character, digit and letter";
                    }
                }

            }

            if(password1 != password2){
                error += 1;
                document.getElementById("pass").innerHTML = "Both password must be same";
            }

        if(error > 0){
            swal("","Correct the error(s) and try again!");
            return false;
        }
        else{
            return true;
        }
    }

$(document).ready(function(){
    $("#change_password_form").submit(function(e){
                e.preventDefault();
                var form = $(this).closest("form");
                var old_password = document.getElementById("old_password").value;

                if(old_password != ""){
                    $.ajax({
                        type : "POST",
                        url : form.attr("password-validate-url"),
                        data : form.serialize(),
                        dataType : "json",
                        success : function(data){
                            if(data.is_matches == 'True'){
                                $("#change_password_form").unbind().submit();
                            }
                            else{
                                swal("","Please enter correct password","error");
                                document.getElementById("old_password").value = "";
                                document.getElementById("new_password").value = "";
                                document.getElementById("new_password2").value = "";
                            }
                        }
                    });
                }
            });
});


    </script>
</head>

<div style="margin-top:150px;margin-bottom:20px" class="center">

</div>

<main class="main-rows center" style="margin-top:20px;margin-bottom:100px" >
	<div class="container col-md-6">
        <form id="change_password_form" method="post" action="#" name="change_password" onsubmit="return validation()" password-validate-url="{% url 'Member:validate_password' %}">
            {% csrf_token %}
            <div class="center">
                <h4>Change Password<hr></h4>
            </div>
            <div class="form_group" style="margin:15px 0px">
                <div class="form-element">
                    <input id="old_password" type="password" placeholder="Old Password" name="old_password"    >
                    <span id="old_password_error" style="color:red"></span>
                </div>
            </div>
            <div class="form_group" style="margin:15px 0px">
                <div class="form-element">
                    <input id="new_password" type="password"  placeholder="New Password" name="new_password"    >
                    <span id="new_password1_error" style="color:red"></span>
                </div>
            </div>
            <div class="form_group" style="margin:15px 0px">
                <div class="form-element">
                    <input id="new_password2" type="password" placeholder="Confirm New Password" name="new_password2"    >
                    <span id="new_password2_error" style="color:red"></span>
                    <br>
                    <span id="pass" style="color:red"></span>
                </div>
            </div>

            <div class="form-group" style="margin-top:20px">
                <input type="submit" value="Change Password" class="myBtn" style="width:150px">
            </div>
        </form>
	</div>
</main>


{% endblock %}