{% extends 'common.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}

<head>
	<title>{% block title %}Forgot Password{% endblock %}</title>
    <style>
    header{
        background-color:#000000;
    }

    </style>
    <script>

        function validation(){

            document.getElementById("email_error").innerHTML = "";

            var email_structure = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            var error = 0;

            if(forgot_password.email.value == ""){
                error += 1;
                document.getElementById("email_error").innerHTML = "Please enter your email address";
            }
            else{
                if (email_structure.test(forgot_password.email.value) == false){
                    error += 1;
                    document.getElementById("email_error").innerHTML = "Please enter valid email address";
                }
            }

            if (error > 0){
                swal('',"Correct the error(s) and try again!",'error');
                return false;
            }
            else{
                return true;
            }
        }

    </script>
</head>

<div style="margin-top:150px;margin-bottom:20px" class="center">

</div>

<main class="main-rows center" style="margin-top:20px;margin-bottom:100px" >
	<div class="container col-md-6">
        <form method="post" id="forgot_form" name="forgot_password" action="{% url 'Member:forgot_password' %}" onsubmit="return validation()" email-validate-url="{% url 'Member:validate_email_signup' %}">
            {% csrf_token %}
            <div class="center">
                <h5>Forgot Password<hr></h5>
            </div>
            <div class="form_group" style="margin:15px 0px">
                <div class="form-element">
                    <input id="email" type="email" placeholder="Email Address" name="email">
                    <span style="color:red" id="email_error"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="submit" value="Send OTP" class="myBtn" style="width:150px">
            </div>
        </form>
	</div>
</main>

<script>
    $(document).ready(function(){
            $("#forgot_form").submit(function(e){
                e.preventDefault();
                var form = $(this).closest("form");
                var email = document.getElementById("email").value;

                if(email != ""){
                    $.ajax({
                        type : "POST",
                        url : form.attr("email-validate-url"),
                        data : form.serialize(),
                        dataType : "json",
                        success : function(data){
                            if(data.is_exists == 'True'){
                                $("#forgot_form").unbind().submit();
                            }
                            else{
                                swal("","Email doesn't exists","error");
                            }
                        }
                    });
                }
            });
        });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}
