{% extends 'custom_admin/common.html' %}
{% load static %}

<head>
    <title>{% block title %}Ticket : {{ticket.member.member.first_name}} {{ticket.member.member.last_name}} {% endblock %}</title>
</head>

{% block content %}

<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
									</li>
                                    <li class="breadcrumb-item active" aria-current="page">Ticket </li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card  col-md-6 col-lg-6">
						<div class="card-body">
                            <label>Event</label>
                            <input type="text" value="{{ticket.ticket.event.name}}" class="form-control" readonly>

                            <label style="margin:10px 0px">Member</label>
                            <input type="text" value="{{ticket.member.member.first_name}} {{ticket.member.member.last_name}}" class="form-control" readonly>

                            <label style="margin:10px 0px">Quantity</label>
                            <input type="text" value="{{ticket.ticket.quantity}}" class="form-control" readonly>

                            <label style="margin:10px 0px">Total(&#8377;)</label>
                            <input type="text" value="{{ticket.amount}}" class="form-control" readonly>

                            <label style="margin:10px 0px">Collected</label>
                            {% if ticket.ticket.collected == True %}
                                <input style="background-color:rgba(0,255,0,0.2)" type="text" value="Yes" class="form-control" readonly>
                            {% elif ticket.ticket.collected == False %}
                                <input style="background-color:rgba(255,215,0,0.2)" type="text" value="No" class="form-control" readonly>
                            {% endif %}

                            <label style="margin:10px 0px">Brought On</label>
                            <input type="text" value="{{ticket.date}}" class="form-control" readonly>

                            <label style="margin:10px 0px">Invoice Id</label>
                            <input type="text" value="{{ticket.invoice_id}}" class="form-control" readonly>

                            <div style="margin:10px 0px">
                                {% if ticket.ticket.collected == True %}
                                    <a href="{% url 'Custom_Admin:collect_tickets' ticket.id %}" style="width:100%;color:#32CD32" title="Reply"><button style="background-color:rgba(255,0,0,0.3)" type="button" class="btn btn-light m-1">Collected</button></a>
                                {% elif ticket.ticket.collected == False %}
                                    <a href="{% url 'Custom_Admin:collect_tickets' ticket.id %}" style="width:100%;color:#32CD32" title="Reply"><button style="background-color:rgba(0,255,0,0.3)" type="button" class="btn btn-light m-1">Collect</button></a>
                                {% endif %}
                            </div>

                            <div style="margin:10px 0px">
                            </div>
                            <a href="javascript:history.go(-1)"><button type="button" class="btn btn-light m-1"><i class="fa fa-arrow-left"></i>  Back</button></a>
						</div>
                        <div>
                        </div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->

	<!-- App JS -->
{% endblock %}
