{% extends 'common.html' %}
{% load static %}
{% block content %}

<head>
	<title>{% block title %}Payment Plan{% endblock %}</title>
    <style>
    header{
        background-color:#000000;
    }

    th,td{
        padding:10px;
    }
</style>
</head>

<div style="margin-top:200px;margin-bottom:0px">
    <div class="container">
        <div class="col-md-12">
            <center>
                <div>
                    <table style="border:1px solid grey">
                        <tr>
                            <th>Membership Plan</th>
                            <td>{{plan.name}}</td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>{{plan.duration}}</td>
                        </tr>
                        <tr>
                            <th>Fees</th>
                            <td>&#8377 {{plan.fees}}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:200px;height:100px;margin-top:50px">
                {{form.render}}
                </div>
                <div style="margin:20px 0px">
                    <a href="javascript:history.go(-1)"><button type="button" class="myBtn" style="width:200px"><i class="fa fa-arrow-left"></i>  Change Plan</button></a>
                </div>
            </center>
        </div>
    </div>
</div>

{% endblock %}