
:root {
--link-color-hover: #e59f4e;
--font-family: 'Montserrat';
--font-weight: 500;
--letter-spacing: 0.5px;
--h1-font-weight: 600;
--h1-line-height: 1.1;
--h2-font-weight: 600;
--h2-line-height: 1.2;
--h3-font-weight: 600;
--h3-line-height: 1.3;
--h4-font-weight: 600;
--h5-font-weight: 600;
--h5-line-height: 1.5;
--h6-font-weight: 600;
--h6-line-height: 1.6;
--p-line-height: 1.7;
--p-font-weight: 500;
--p-letter-spacing: 0.5px;
--label-color: #aaa;
--form-button-alignment: right;
--asterisk-color: #4d4d4d;
--form-color: #353535;
--form-border-width: 2px 2px 2px 2px;
--form-border-color: rgba(0, 0, 0, 0.3);
--form-border-radius: 0px 0px 0px 0px;
--gutter-compensation: -40px;
--gutter-vertical: 1.85vh;
--module-gutter-vertical: 1vh;
--mobile-row-distance: 20px;
--mobile-column-distance: 30px;
--mobile-element-distance: 20px;
--max-grid-ratio: 1.25;
--language-switcher-border-color: #d4d4c9;
--language-switcher-background-color: #fff;
--region-switcher-border-color: #d4d4c9;
--region-switcher-background-color: #fff;
--region-switcher-popup-background-color: #fff;
}
.btn1 {
--button-border-radius: 0 0 0 0;
--button-border-width: 0 0 0 0;
--button-background-color-disabled: #e2e2e2;
--button-min-width: 140px;
--button-height: 54px;
--button-font-size: 14px;
--button-font-weight: 700;
--button-background-color: #e59f4e;
}
.btn1:hover {
--button-background-color: #000;
}
.buttons1557833784589 {
--button-font-family: 'Montserrat';
--button-font-size: 15px;
--button-font-weight: 700;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 2px 2px 2px 2px;
--button-border-style: solid;
--button-height: 54px;
--button-min-width: 125px;
--button-padding: 0px 40px 0px 40px;
--button-background-color: rgba(210, 93, 25, 0);
--button-border-color: #e59f4e;
--button-color: #e59f4e;
--button-line-height: 50px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1557833784589:hover {
--button-background-color: #e59f4e;
--button-border-color: #e59f4e;
--button-color: #fff;
}
.buttons1557843418679 {
--button-font-family: 'Montserrat';
--button-font-size: 15px;
--button-font-weight: 700;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 2px 2px 2px 2px;
--button-border-style: solid;
--button-height: 54px;
--button-min-width: 125px;
--button-padding: 0px 40px 0px 40px;
--button-background-color: rgba(255, 255, 255, 0);
--button-border-color: #fff;
--button-color: #fff;
--button-line-height: 50px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1557843418679:hover {
--button-background-color: #e59f4e;
--button-border-color: #e59f4e;
--button-color: #fff;
}
.buttons1557922107389 {
--button-font-family: 'Montserrat';
--button-font-size: 16px;
--button-font-weight: 700;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 0 0 0 0;
--button-border-style: solid;
--button-height: 54px;
--button-min-width: 120px;
--button-padding: 0px 40px 0px 40px;
--button-background-color: rgba(0, 0, 0, 0);
--button-border-color: #fff;
--button-color: #fff;
--button-line-height: 54px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1557922107389:hover {
--button-background-color: rgba(229, 159, 78, 0);
--button-border-color: rgba(229, 159, 78, 0);
--button-color: #e59f4e;
}
.buttons1559657575611 {
--button-font-family: 'Montserrat';
--button-font-size: 12px;
--button-font-weight: 600;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 2px 2px 2px 2px;
--button-border-style: solid;
--button-height: 46px;
--button-min-width: 140px;
--button-padding: 0 50px;
--button-background-color: rgba(53, 53, 53, 0);
--button-border-color: #e59f4e;
--button-color: #e59f4e;
--button-line-height: 42px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1559657575611:hover {
--button-background-color: #e59f4e;
--button-border-color: #e59f4e;
--button-color: #fff;
}
.buttons1559718122152 {
--button-font-family: 'Montserrat';
--button-font-size: 18px;
--button-font-weight: 700;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 0 0 0 0;
--button-border-style: solid;
--button-height: 60px;
--button-min-width: 140px;
--button-padding: 0 50px;
--button-background-color: rgba(229, 159, 78, 0);
--button-border-color: transparent;
--button-color: #fff;
--button-line-height: 60px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1559718122152:hover {
--button-background-color: rgba(0, 0, 0, 0);
--button-border-color: transparent;
--button-color: #e59f4e;
}
.buttons1579260432136 {
--button-font-family: 'Montserrat';
--button-font-size: 12px;
--button-font-weight: 700;
--button-letter-spacing: 1px;
--button-border-radius: 0 0 0 0;
--button-border-width: 0 0 0 0;
--button-border-style: solid;
--button-height: 45px;
--button-min-width: 120px;
--button-padding: 0px 30px 0px 30px;
--button-background-color: #e59f4e;
--button-border-color: transparent;
--button-color: #fff;
--button-line-height: 45px;
--button-background-color-disabled: #e2e2e2;
--button-color-disabled: #fff;
}
.buttons1579260432136:hover {
--button-background-color: #000;
--button-border-color: transparent;
--button-color: #fff;
}
